@import "colors.css";
window,
.background,
headerbar,
.sidebar,
.view,
.titlebar,
notebook,
menu,
.menu,
popover,
.toolbar,
textview,
textview text,
treeview,
treeview.view,
treeview.view text {
    background-color: @gtk_bg;
    background-image: none;
}

* {
    color: @gtk_fg;
}
